body{
    font-family: sans-serif;
    margin: 0;
}
nav {
    padding: 16px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     
     
    }
    
    .logo{
        border: solid 4px;
       color:rgb(255, 254, 254);
       text-decoration: none; 
      padding: 16px;
    
    }
    
    .nav ul{ list-style-type: none;}
    
    nav ul li a{
        display: inline-block;
        padding: 8px;
        margin: 0 4px;
        color: rgb(255, 255, 255);
    }
    
main{
    background-color: brown;
    justify-content: center;

    display: grid;
    grid-area:
    "main"
    "main-dos"
    ;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.main-dos{
    grid-area: main-dos;
    display:contents;
    justify-content: center;
    align-items: center;
    

}